
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background: #1a1a2e;
  min-height: 100vh;
}

.icon-link{
  transition: color 0.3s ease;
}

.icon-link:hover {
  color: rgb(0, 8, 255); /* Change this to your preferred color */
}
/* Scrollbar container */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #1e293b;
}

/* Scrollbar thumb (the handle) */
::-webkit-scrollbar-thumb {
  background: #3b82f6;
}

/* Scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #60a5fa; /* Light blue when hovered */
}
