@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #5c3ad7;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}
/* Hide scrollbar but keep scroll functionality */
.scroll-hidden::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Optional */
}
.scroll-hidden {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
