<header class="header">
  <div class="container">
    <div class="header__content">
      <a routerLink="/" class="header__logo">
        <div class="logo-box">
          <span>DD</span>
        </div>
      </a>
      <nav class="header__nav">
        <ul>
          <li>
            <a routerLink="/" [class.active]="currentRoute === '/'">Home</a>
          </li>
          <li>
            <a routerLink="/about" [class.active]="currentRoute.includes('/about')">About</a>
          </li>
          <li>
            <a routerLink="/projects" [class.active]="currentRoute.includes('/projects')">Project</a>
          </li>
          <li>
            <a routerLink="/contact" [class.active]="currentRoute.includes('/contact')">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
